In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [2]:
df = pd.read_csv("datasets/covid_philippines.csv")

In [3]:
df.head()

,Unnamed: 0,video_id,video_title,description,video_dop,view_count,like_count,comment_count,channel_id,channel_title,channel_dop,sub_count,total_videos
0,0,m3P-bmt3Uqw,JN.1 COVID-19 subvariant causing spike in cases,'An infectious disease expert says the new COV...,2023-12-25,6495,45,18,UCj6spMO3ybZPobE0T5perHA,CNN Philippines,2015-03-16,1390000,22741
1,1,sYI97jv-pZg,"PH records 2,725 new COVID cases from Dec. 12 ...",'The World Tonight: The daily average of the P...,2023-12-18,1982,14,3,UCvi6hEzLM-Z_unKPSuuzKvg,ANC 24/7,2010-01-29,1500000,70077
2,2,3YFpjgIQqEo,WATCH: DOH Usec. Tayag on rise of COVID-19 cas...,'Dateline Philippines: Karmina Constantino tal...,2023-12-07,9354,80,17,UCvi6hEzLM-Z_unKPSuuzKvg,ANC 24/7,2010-01-29,1500000,70077
3,3,CEIrzjA8euQ,DOH urges public to mask up amid rise in COVID...,'Dateline Philippines: The Philippine Health D...,2023-12-13,2010,26,2,UCvi6hEzLM-Z_unKPSuuzKvg,ANC 24/7,2010-01-29,1500000,70077
4,4,DWxIvQlpJK8,Metro Manila to be placed on lockdown due to c...,'Subscribe: https://www.youtube.com/@Rappler/\...,2020-03-12,104353,736,18,UCdnZdQxYXnbN4uWJg96oGxw,Rappler,2011-12-02,1930000,50275

In [4]:
df[['like_count', 'comment_count']].describe()

         like_count  comment_count
count    400.000000     400.000000
mean     521.247500     190.087500
std     1376.627755     599.679363
min        2.000000       0.000000
25%       61.500000      11.000000
50%      153.000000      46.000000
75%      431.750000     155.500000
max    12843.000000    6508.000000

In [5]:
view_count = np.array(df['view_count'])
like_count = np.array(df['like_count'])
comment_count = np.array(df['comment_count'])

In [7]:
view_count

array([   6495,    1982,    9354,    2010,  104353,   14611,   12783,
          1183,  323101,   37964,     898,   33950,    4447,   90431,
         17959,    2340,     606,  156448,   37156,   34707,  127589,
        436724,  178976, 1516457,  239819,   40201,  150638,  141140,
         91261,  142751,  130344,   24702,    2462,   24864,   23581,
          2186,   77308,    6918,  494024, 1330178,  185129,  120766,
         71000,   73177,   33362,   23691,  344835,  436660,   24821,
          3289,   16829,  144724,   53088,   26404,    1363,  203783,
         16227,   20932,   92406,   21335,  193339,   29726,   38471,
         87389,  251651,  201877,   38755,   16960, 1362590,   42293,
         60285,  111908,   17148,   11692,   88102,   63646,    7723,
          1522,   47610,   30967,   37017,    6192,   50683,  129655,
          5841,    5472,   18082,   14689,   24251,   89352,  183838,
         85761,    5452,  102905,    2584,   31578,  105205,  409742,
          3130,   27135,   27135,  127666,    1108,   89352,  133850,
          8575,  129655,    1040,   27607,    2076,   24230,    3074,
        102905,  179552,    3767,  151128,   38891,    3130,   65233,
          1135, 1256279,    9736,  409742,  171704,    3656,   77683,
        174668,   15081,   22758,   11514,   51206,    2729,   35105,
        154246,  152683,   49404,   30193,  130437,   22346,   61633,
         28225,  824354,  119555,  116384,    8942,   46344,  458472,
          9354,   65922,  191147,   90450,   43801,   49637,    1040,
         88012,  135200,    1108,   24230,   38891,   69045,  121307,
         61378,  153258,   69311,    2159,    4310,   35883,   12676,
        128312,  124626,    5754,   12546,   39162,    5384,    8575,
          1135,   64656,  127666,    9736,  130437,    2773,    4518,
         32736,    2076,   29826,   10487,    2729,    3656,  151128,
         87567,    3767,  174668,   21997,   15068,  279109,   12511,
         27607,   77683,  149364,   47740,    6200,   15081,   87816,
        403087,    4865,   22758,   61378,   15187,   24176,  133850,
        171704,   35105,   49404,   71017,     652,   28225,   23522,
         46344,  118861,  300913,   23820,    6102,   16956,   76336,
         77151,   87567,    3367,   95223,   18815,  199988,     735,
         73801,   23109,  244350,    2358,  211630,    5429,   21021,
         52476,  101949,    4310,   11963,  143841,   50476,   74746,
         58805,   22614,    4831,    3669,    2349,  101949,   11963,
        143841,   50476,   74746,   58805,   22614,   55690,    4831,
          3669,    2349,     106,   47897,  108460,   42455,   97356,
        105158,    5289,   11997,   13407,  425353,  230005,   43655,
        201764,   73552,   32530,   99250,  363308,   24366,    9697,
         16980,   32713,   33313,   78313,  300329,    1293,  172739,
        110348,   12746,  106885,   42309,   16428,   24742,   64855,
        181775,   36865,   46184,   69861,    1512,  177442,  181775,
         71548,    1954,  145868,  187041,  147924,  113045,  378676,
          1248,    1599,   32722,   55644,   26305,    8135,    6176,
          2700,   76586,    9047,    9095,   86536,   51393,  186742,
          8285,   67518,    4777,    6404,   48079,  315271,    8307,
          1433,   17925,   55690,   13743,  211630,    2712,  155400,
         62752,   11762,    6140,   10370,  270720,   25961,    8109,
         11937,  111188,   55471,  155333,    3062,   54846,   16738,
         78180,    3062,   10370,    2700,    6140,   55471,   10313,
        105098,    2569,   11762,   59197,   57964,   16738,   13743,
         11937,   51393,   25961,     867,    6771,  105158,   43556,
          2270,   11997,    2978,   57067,   12477,   35657,    6332,
          4153,   69405,   40021,   12705,   17654,   41580,     106,
         20090,   12657,   28422,    2587,  203026,   14805,    1457,
          4680,  122906,   36090,     355,    2749,  394441,    7641,
         51349], dtype=int64)

In [8]:
like_count

array([   45,    14,    80,    26,   736,    87,    66,    10,  3283,
          86,     8,   476,    41,   712,   100,    19,    14,  2174,
         304,   365,   906,  2769,   947, 10482,   976,   352,   511,
        1337,   545,   658,   257,   111,    27,   212,   155,     9,
        1298,   119,  3302, 12843,   895,   381,   468,   318,   187,
          78,  1951,  4893,   153,    25,   111,  1546,   304,   328,
          17,  1096,   300,   153,   538,   419,  2030,   194,   493,
         143,  2346,  1397,    75,    91,  2907,   257,  1683,   274,
         263,    67,   168,   132,    72,    29,   531,   327,   169,
          58,   602,  1286,    21,    37,   249,   173,   235,   339,
        2336,   198,    45,   429,     8,   516,   220,  1980,    28,
         316,   316,   229,     4,   339,   342,    67,  1286,     5,
          80,     8,    58,    16,   429,  1148,    44,   250,   506,
          28,   380,     4,  8806,   102,  1980,   694,    13,   119,
         672,    45,    84,   172,   507,    23,    66,   368,  1646,
         106,   102,   545,   382,   125,    85, 12511,   583,   367,
          77,   467,  2806,    80,   230,   451,   638,   635,   143,
           5,   284,   312,     4,    58,   506,   138,   197,   468,
         527,   137,    21,    23,   238,    88,   510,   505,    91,
         127,    62,    33,    67,     4,   386,   229,   102,   545,
          17,    27,    97,     8,   639,    46,    23,    13,   250,
         277,    44,   672,    85,   151,   361,   263,    80,   119,
         327,   157,   190,    45,   188,  3084,    29,    84,   468,
          60,  2511,   342,   694,    66,   106,   278,    11,    85,
          76,   467,   484,   872,    82,    73,   128,   210,   142,
         277,    22,   813,    74,   696,     5,   105,    81,   746,
           9,  7593,    66,    78,   104,   289,    23,    56,   468,
         180,   182,   201,   450,    23,    15,    14,   289,    56,
         468,   180,   182,   201,   450,   232,    23,    15,    14,
           2,   162,   309,    89,   531,   330,    28,    37,    40,
        1363,  1129,   153,   610,   258,   115,   194,  1888,   110,
          37,    63,   121,    62,   186,   822,    12,   918,   310,
         395,   847,   768,    69,    84,  7390,   913,    91,   107,
         136,    13,   429,   913,   220,   359,   430,   629,   363,
         492,  1671,     7,    13,   139,   124,    63,    51,    38,
           9,   218,    82,    21,   277,   187,   437,    84,   213,
          49,    71,   131,  1250,    71,    10,    72,   232,    45,
        7593,    21,   457,   245,    70,    64,    72,  1133,    97,
          15,    46,   299,   123,   886,    20,   214,   238,   187,
          20,    72,     9,    64,   123,    72,   210,    13,    70,
         267,   137,   238,    45,    46,   187,    97,     6,    62,
         330,   129,    10,    37,    15,   149,   120,   271,    32,
          17,   286,   113,    35,    68,    68,     2,    63,    37,
         105,    23,   627,    56,     7,    73,   399,   113,     3,
          18,  1877,    21,   491], dtype=int64)

In [6]:
comment_count

array([  18,    3,   17,    2,   18,   25,   30,    3,  619,   81,    4,
        131,   17,   87,   80,   10,    3, 1080,   95,  168,  532, 1369,
        417,  948,  389,  166,   15,  435, 1313,  112,  186,   66,    3,
         94,   22,   12,  705,   26,    0, 6508,  286,    0,  112,   58,
         11,   53,    0, 1289,   58,    4,   70, 1041,  282,   41,    0,
        550,   30,   32,  211,  174,  815,  157,  132,   72, 1184,  516,
          5,   32,  230,   93,   45,  152,   94,    7,    0,    0,   15,
          5,  474,  601,   52,   16,  135, 1344,   34,    5,  157,   41,
        115,  174,  403,  155,   31,  116,    2,  338,    0,  196,    1,
        173,  173,    1,    1,  174,    0,   94, 1344,   10,    1,    0,
         36,   13,  116,  319,   13,    0,  601,    1,  157,    0, 3149,
         31,  196,    2,    9,   69,  266,   27,   46,   62,  703,    5,
         33,  155, 1019,   22,   14,   94,   38,   61,    0, 1045,  168,
          9,   36,  367, 1820,   17,    5,    0,  205,   46,  129,   10,
        126,  137,    1,   36,  601,   66,    0,  240,  276,   71,   39,
         11,   76,   37,  291,   94,    1,   35,    0,    7,   94,    0,
          0,    1,   31,   94,    0,   21,   17,    0,  154,   22,    5,
          9,    0,  260,   13,  266,    0,   37,  133,   37,    1,   69,
        238,   74,    0,   27,  169,  526,    3,   46,  240,   29,  324,
          0,    2,   33,   22,   33,    1,    0,   32,  367,  185,    0,
         98,  120,   53,   74,    0,  260,    3,    0,   46,    0,    1,
         37,   77,  256,   26, 6101,   47,   41,   62,   78,   11,   36,
        216,  245,  227,    0,   91,   16,    9,   11,   78,   36,  216,
        245,  227,    0,   91,   98,   16,    9,   11,    0,   29,   55,
         86,  347,  118,   10,    0,   19,  914,   94,   73,  362,  159,
         21,   95,   45,   25,   17,   77,   47,   25,   48,  393,    1,
        198,  229,   37,  158,  421,   56,   59,  564,  334,   21,   42,
         77,    5,  149,  334,  146,    9,  201,  487,  219,  489,  280,
          4,    3,   66,   45,   26,   89,   24,    4,  114,   16,   11,
        110,  130,  241,   29,  166,   34,   56,   53,    0,   17,    2,
         37,   98,   11, 6101,   10,  175,  137,   47,   31,   17,  536,
         38,   20,   12,  206,   61,  565,   23,   55,   16,   65,   23,
         17,    4,   31,   61,   20,  143,    7,   47,  107,   95,   16,
         11,   12,  130,   38,    3,   36,  118,   74,    7,    0,    6,
         94,   54,   74,   32,    0,  168,   75,    9,    8,  102,    0,
         38,   14,   65,    3,  294,   42,    3,    3,  131,   49,    1,
         18,  495,   12,    0], dtype=int64)

In [9]:
norm_view_count = preprocessing.normalize([view_count])[0]
norm_like_count = preprocessing.normalize([like_count])[0]
norm_comment_count = preprocessing.normalize([comment_count])[0]