Using ScraperAPI<br>
ScraperAPI: https://www.scraperapi.com/ <br>
Github repos: https://github.com/scraperapi <br>
Video guide: https://www.youtube.com/watch?v=gKf9hcGYdEI <br>

WARNING:<br>
A free account has <b>200</b> queries <b>PER MONTH</b>.

In [1]:
import pandas as pd
import numpy as np

In [3]:
path = "../datasets/israeli-palestine_conflict_history/channels.csv"
channels = pd.read_csv(path).drop("Unnamed: 0", axis=1)
channels

,channel_id,channel_name,channel_dop,sub_count,total_videos
0,UC7fWeaHhqgM4Ry-RMpM2YYw,TRT World,2015-03-17,5660000,52663
1,UC9MAhZQQd9egwWCxrwSIsJQ,HISTORY,2006-08-27,13100000,9605
2,UC_gUM8rL-Lrg6O3adPW9K1g,WION,2016-05-19,8530000,140317
3,UCLXo7UDZvByw2ixzpQCufnA,Vox,2014-03-04,11900000,1686
4,UCVgO39Bk5sMo66-6o6Spn6Q,ABC News (Australia),2008-06-09,1980000,86206
...,...,...,...,...,...
120,UCvlj0IzjSnNoduQF0l3VGng,Some More News,2018-03-06,837000,255
121,UCx8Z14PpntdaxCt2hakbQLQ,TheLallantop,2015-03-23,28300000,49827
122,UCfmSignFWkk1lw4015hCyyQ,StandWithUs,2006-06-06,111000,1068
123,UCtL5p5kTIgWA3bcskUccdyw,Media Education Foundation,2019-07-02,5530,258
124,UCu4XcDBdnZkV6-5z2f16M0g,Real Stories,2015-02-16,6240000,1141

In [4]:
from scraper_api import ScraperAPIClient
APIKEY = ""
client = ScraperAPIClient(APIKEY)

In [5]:
result = client.get(url="https://www.google.com/search?q=TRT+World+LinkedIn").text